@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: $color;

  font-family: $font;
}

/* total width */
::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  height: 3px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 999px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display:none;
}

html {
  background-color: $secondary-color;
}

#app {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  overflow: hidden;
}
