@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: $color;

  font-family: $font;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  max-height: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color;
}

html {
  background-color: $secondary-color;
}

#app {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  overflow: hidden;
}
