$color: #fff;
$primary-color: #35356C;
$secondary-color: #28264F;

.theme {
    &--ocean {
        $color: #fff;
        $primary-color: #35356C;
        $secondary-color: #28264F;
    }

    &--chocolate {
        $color: #fff;
        $primary-color: #35356C;
        $secondary-color: #28264F;
    }
}