.home-server-list {
    height: 100%;

    flex-shrink: 0;

    background-color: $primary-color;

    border-radius: 15px;

    overflow-y: auto;

    &__container {
        height: 100%;

        display: flex;
        flex-direction: column;

        gap: 15px;

        padding: 15px;

        overflow-y: auto;

        @media screen and (max-width: 768px) {
            padding: 10px;

            gap: 1Opx;
        }
    
    }
}

.server-name {
    width: fit-content;

    padding: 10px;

    position: absolute;
    z-index: 10;

    color: $secondary-color;
    background: $color;

    border-radius: 10px;

    opacity: 0;

    white-space: nowrap;

    transform: translate(0, -50%);

    box-shadow:0px 5px 29px 5px rgba(0,0,0,0.27);

    cursor: default;

    transition: opacity 0.2s ease-out;

    &.active {
        opacity: 1;
    }
}