.home-chatbox {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    flex: 1;

    padding: 10px;
    
    background-color: $primary-color;

    border-radius: 15px;

    &__container {
        height: 100%;

        display: flex;
        flex-direction: column;

        gap: 25px;

        margin: 10px 0;
        padding: 20px;

        overflow: hidden auto;
    }

    &__message {
        min-width: 30%;
        max-width: 80%;

        align-self: flex-start;
        
        position: relative;

        background-color: $secondary-color;
        
        border-radius: 10px;
        font-size: 12px;

        &-edit {
            width: 24px;
            height: 24px;

            padding: 2px;

            position: absolute;
            bottom: 0;
            right: 20px;

            transform: translateY(50%);

            background-color: $primary-color;
            color: $color;

            stroke: $color;

            border-radius: 5px;
            border: 1px solid $color;

            opacity: 0;

            pointer-events: none;

            transition: opacity 0.1s ease-in-out;

            &:hover {
                opacity: 1;
                pointer-events: all;
            }
        }
        
        &--me {
            align-self: flex-end;

            background-color: $color;
            
            .home-chatbox__message-edit {
                background-color: $color;
                color: $primary-color;

                stroke: $primary-color;

                border: 1px solid $primary-color;
            }
        }

        &--clickable {
            cursor: pointer;
        }

        &:hover {
            .home-chatbox__message-edit {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &__message-title {
        margin-top: 3px;
        font-size: 17px;
        color: $color;
        &--me {
            text-align: right;
            color: black;
        }
    }

    &__message-date {
        color: $color;
        &--me {
            color: black;
        }
    }

    &__text {
        margin: 8px;
        margin-top: 0;
        color: $color;
        &--me {
            color: black;
        }
    }

    &__profil {
        position: relative;
        left: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color;
        border-radius: 50%;
        background-color: $secondary-color;
        &--me {
            right: 0;
            left: unset;
            transform: translateX(50%);
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        margin-right: 10px;
        &--me {
            margin-left: 10px;
            margin-right: auto;
            flex-direction: row-reverse;
        }
    }

    &__title-without-date {
        display: flex;
        justify-content: flex-start;
        &--me {
            flex-direction: row-reverse;
        }
    }
}

.form-controle{
    position: relative;
    input{
        background-color: $secondary-color;
        min-height: 50px;
        border-radius: 10px;
        font-size: 14px;
        padding: 10px;
        width: 100%;
        border: none;
    }
    button{
        background-color: $primary-color;
        border: none;   
        position: absolute; 
        right: 16px;
        top: 5px;
        padding: 7px 13px;
        border-radius: 10px;
    }
    .vue3-emojipicker{
        background-color: $primary-color;
        border: none;   
        position: absolute !important; 
        top: 5px;
        border-radius: 10px;
        right: 70px;
        margin-left: 0px ;
        padding: 8px 14px;

        div.mt-4{
            margin-top: 0px !important;
        }
        .vue3-discord-emojipicker__emojibutton{
            margin-left: 0px !important;
        }
        .vue3-discord-emojipicker__gifbutton{
            margin-right: 10px;
        }
    }
}


