.home-chatbox {
    flex: 1;
    height: 100%;
    background-color: $primary-color;
    border-radius: 15px;

    &__container {
        margin: 15px;
        margin-left: 25px;
        margin-right: 25px;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__message {
        position: relative;
        background-color: $secondary-color;
        min-height: 50px;
        min-width: 30%;
        max-width: 80%;
        border-radius: 15px;
        font-size: 12px;
        align-self: flex-start;
        &--me {
            align-self: flex-end;
            background-color: $color;
        }
    }

    &__message-title {
        margin-top: 3px;
        font-size: 17px;
        color: $color;
        &--me {
            text-align: right;
            color: black;
        }
    }

    &__message-date {
        color: $color;
        &--me {
            color: black;
        }
    }

    &__text {
        margin: 8px;
        margin-top: 0;
        color: $color;
        &--me {
            color: black;
        }
    }

    &__profil {
        position: relative;
        left: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $secondary-color;
        &--me {
            right: 0;
            left: unset;
            transform: translateX(50%);
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        margin-right: 10px;
        &--me {
            margin-left: 10px;
            margin-right: auto;
            flex-direction: row-reverse;
        }
    }

    &__title-without-date {
        display: flex;
        justify-content: flex-start;
        &--me {
            flex-direction: row-reverse;
        }
    }
}

.form-controle{
    position: absolute;
    bottom: 40px;
    width: 60%;
    input{
        background-color: $secondary-color;
        min-height: 50px;
        border-radius: 15px;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }
}