.home-server-list {
    height: 100%;

    background-color: $primary-color;

    border-radius: 15px;

    &__container {
        height: 100%;

        display: flex;
        flex-direction: column;

        gap: 15px;

        padding: 15px;
    }
}