.server-add-color {
  width: 75px;
  height: 75px;

  flex-shrink: 0;

  background-color: $color;

  border-radius: 50%;

  overflow: hidden;

  cursor: pointer;

  &__container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.server-color {
  width: 2rem;
  height: 2rem;
  display: block;
  cursor: pointer;
  &.active {
    width: 2rem;
    height: 2rem;
    border: 2px solid pink;
  }
  &__ring {
    background: linear-gradient(
      110deg,
      var(--primary-color) 55%,
      var(--secondary-color) 55%
    );
    border-radius: 3rem;
  }
  &:hover {
  }

  &.active {
    border-color: $color;
  }
  &__container {
    width: 100%;
    height: 100%;

    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border: 2px solid transparent;

    color: #968d8d;
    transition: all 0.2s ease-in-out;

    & > div {
      color: #968d8d;
    }
  }
}

.server-choose-color {
  display: flex;
  justify-content: center;
  &__title {
    color: #968d8d;
  }
}
